@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Iceland&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarpanch:wght@600&display=swap');

.navBar {
  
}

.navBackground{
  position: fixed;
  top: 0;
  width: 100%;
  color:black;
  background:black;
  border-bottom: 1px solid rgb(254, 31, 51);
  text-align: center;
  padding: 5px;
  z-index: 1
}

nav {
  float: center;
  position: sticky
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 140px;
  position: relative;
	font-family: 'Courier New', Courier, monospace;   /*Changing the font of the nav bar*/
	letter-spacing: 2px;
}

nav a {
  font-family: 'Sarpanch', sans-serif;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

nav a:hover {
  color: #cc2222;
}

nav a::before {
  content: '';
  display: block;
  height: 1px;
  background-color: #cc2222;
	margin-top: -1px;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}



