@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta&display=swap');

body, html {
  height: 100%;
  max-width: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "lato", sans-serif;
  font-weight: 400;
}

/* Basic layout of every new page will take from this class section */
.welcome, .aboutMe, .contactInfo, .projects {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.welcome{
  /* Background image will go here */
  background-image: url('../images/image1.jpeg');
  min-height: 100%;
}

.welcomeText .border.trans{
  background-color: transparent;
}

.welcomeText{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.aboutme-background {
  
  max-width: 85%;
}

.aboutMe{
  background-image: url('../images/image2.jpeg');
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

#about_me_text {
  margin: 0 auto;
  width: 500px;
  height: 100px;
  margin-bottom: 30px;
  font-family: courier           /* change font here */
}

#about_me_text h3 {
  font-family: 'Courier New', Courier, monospace
}

#about_me_subtext {

  display: flex;
  justify-content: center;
}

#about_me_subtext_reverse {
  
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}

#about_me_subtext div{
  display: inline-block;
  padding: 45px;
  border: black solid 3px;
}

#about_me_subtext_reverse div {
  display: inline-block;
  padding: 45px;
  border: black solid 3px;
}

#box1 {
  flex-grow: 1;
  border: black solid 3px;
}

#box1 a:hover {
  color: #cc2222;
}

#box2 {
  flex-grow: 3
}

.contactInfo{
  background-image: url('../images/image4.jpeg'); 
  min-height: 100%;
}

.projects {
  background-image: url('../images/image3.jpeg');
  min-height: 100%;
  
}

#abot_me_subtext div {
  border: solid black 1px
}

.PageHeader {
  font-family: 'courier';
  top: 40px;
  text-align: center;
  margin: 0 auto;
  width: 700px;
  height: 100px;
  color:black;
  font-size: 45px;
  margin-bottom: 30px;
 
}

.PageHeader h2 {
  font-family: 'Lexend Peta', sans-serif;

}

.subtext {
  height: 275px;
  width: 400px;
}

.subtext p {
  font-family: 'Courier New'           /* Change font here */
}

.divText {
  line-height: 1.3;
  position: relative;
  top: 120px;
  background-color: blue;
  width: 600px;
  height: 600px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 32px;
}

.section-dark{
  background-color: #282e34;
  color: #ddd;
  height: 1px;
  background: black;
  padding-top: 5px;
}

.ptext .border{
  background-color: #111;
  color: #fff;
  padding: 20px;
}

#logos1 li{
  display: inline;
  position: relative;
  text-align: center;
  margin: 0 auto;
  top: 110px;
  margin: 50px;
}

#logos2 li{
  display: inline;
  position: relative;
  text-align: center;
  margin: 0 auto;
  top: 210px;
  margin: 50px;
}

@media(max-width:568px){
  .welcome, .aboutMe, .contactInfo, .projects{
    background-attachment:scroll;
  }
}
